<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SkateBuddy</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a routerLink="/wheels" routerLinkActive="activeRoute">{{ 'wheels.manage' | translate }}</a></li>
        <li><a routerLink="/activities" routerLinkActive="activeRoute">{{ 'activities.list' | translate }}</a></li>
        <li><a routerLink="/settings" routerLinkActive="activeRoute">{{ 'settings' | translate }}</a></li>
      </ul>
    </div>
  </div>
</nav>
<br/>
<br/>
<br/>
<br/>
<div class="container container-body" role="main">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10 col-sx-12" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>
<br/>
<br/>
<app-overlay [show]="appState.overlay" [text]="'overlay.text'"></app-overlay>
