<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="strava.acambieri.skatebuddy.mapper.SkateBuddyMapper">
    <resultMap id="wheelMap" type="strava.acambieri.skatebuddy.model.Wheel" autoMapping="true">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="start_date" property="startDate" />
        <result column="last_rotation_date" property="lastRotationDate"/>
        <result column="total_KM" property="totalKM"/>
        <result column="current_KM" property="currentKM"/>
        <result column="rotation_counter" property="rotationCounter"/>
    </resultMap>
    <resultMap id="activityMap" type="strava.acambieri.skatebuddy.model.Activity" autoMapping="true">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="date" property="date" />
        <result column="distance" property="distance"/>
        <result column="time" property="time"/>
        <result column="speed_avg" property="avgSpeed"/>
        <result column="speed_max" property="maxSpeed"/>
        <association column="wheel" select="wheelSelect" property="wheel"/>
    </resultMap>
    <select id="wheelSelect" resultMap="wheelMap">
        SELECT * FROM WHEELS WHERE ID = #{wheel}
    </select>
</mapper>
