
.modalContainer{
  margin: 0 auto;
  position: absolute;
  top: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 800px) {

  button {
    margin-bottom: 10px;
  }

  /* Force table to not be like tables anymore */
  .table-mobile table,
  .table-mobile thead,
  .table-mobile tbody,
  .table-mobile th,
  .table-mobile td,
  .table-mobile tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .table-mobile thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table-mobile tr { border: 1px solid #ccc; }

  .table-mobile td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    min-height: 30px;
    white-space: normal;
    text-align:right;
  }

  .table-mobile td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }

  /*
    Label the data
    */
  .table-mobile td:before { content: attr(title); }
}
